<div class="centerofpage" style="top:252px; width:830px">

	<div class="videoholder">

		<% @videos.each do |video| %>
			<div class="smallvideoframe bgcolorgreen shadowsmall" style="margin-right:15px;margin-top:15px">
				<%= image_tag video.thumbnail_image_url, :style => "width:180px" %>
				<p><%= video.name %></p>
			</div>
		<% end %>

	</div>

</div>


