<div class="centerofpage" style="width:310px;top:252px;">

	<p style="text-align:left;font-weight:bold">
		Danglehead's Videos
	</p>
	<div class="videoframe bgcolorgreen shadow" style="height: 340px;">
		<%= image_tag "dancer1.jpg" %>
	</div>

</div>
