body
{margin:0px;background-color:Black;}
.container
{float:left;width:100%;position:relative;}
.content
{width:50%;  height:800px; text-align: center}
.fltleft
{float:left;}
.fltright
{float:right;}
.videoframe
{width:307px; height:307px; text-align:center;}
.videoframe img
{padding-top:19px}
.videoframe iframe
{margin-top: 19px;border: 0px;}
.videoframe video
{margin-top: 19px;border: 0px;}
.videoframe_big
{width:390px; height:390px; text-align:center;}
.videoframe_big img
{padding-top:20px}
.videoframe_big iframe
{margin-top: 20px;border: 0px;}
.videoframe_big video
{margin-top: 20px;border: 0px;}
.bgcolororange
{background-color:#f2944f;}
.bgcolorgreen
{background-color:#4ff28c;}
.bgcolorpink
{background-color:#db438f;}
.bgcolorblue
{background-color:#12ceda;}
.bgcoloryellow
{background-color:yellow;}
.bgcolordarkblue
{background-color:#3072c4;}
.shadowblue
{box-shadow: 10px 10px 0px #0faab4;}
.shadowpink
{box-shadow: 10px 10px 0px #b53776;}
.shadow
{box-shadow: 10px 10px 0px rgba(128, 128, 128, 0.41)}
.shadowsmall
{box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.41)}
#or
{margin-top: -311px; float:right; margin-left:30px;}
.centerofpage
{position:absolute; margin-left: auto;margin-right: auto;left: 0;right: 0;}
.youpassbtn
{width: 255px;height: 74px;margin-top: 47px;margin-left: 32px;cursor: pointer;}
.shopbtn
{float:left;width:215px;cursor:pointer;}
.facebookbtn
{float:right;width:215px;cursor:pointer;}
.footercontainer
{width:1200px; margin:auto; padding-top:53px}
.footer
{height:150px; background-color:Black}
.smallvideoframe
{width:188px; height:234px; text-align:center;float:left;}
.smallvideoframe img
{padding-top:4px}
.videoholder
{margin-left:15px;padding-left:10px}
.sliderholder
{background-image: url('groove.png'); background-repeat: no-repeat;width:267px;height:70px;float:right;margin-right:300px;margin-top:100px;}
.sliderholderright
{background-image: url('groove_right.png'); background-repeat: no-repeat;width:267px;height:70px;float:left;margin-left:303px;margin-top:15px;}
#fbpopup .fancybox-skin 
{background-color: White!important;border-radius:0px!important;}
.videopopup .fancybox-skin 
{background-color: #4ff28c!important;border-radius:0px!important;}
@font-face{font-family: 'hitchcock';src: url('Hitchcock.ttf') format('truetype');font-weight: normal;font-style: normal;}
.searchbox
{float: left;margin-left: 309px;margin-top: 40px;}
.searchbox input[type="text"]
{background-image: url('pinksearchbox.png'); background-repeat: no-repeat;background-color: transparent;border: none;height: 40px;width: 168px; color:#db438f;padding-left:20px;float:left;outline:none;}
.gobutton
{background-image: url('go.png'); background-repeat: no-repeat;width:60px;height:47px;float: left;margin-left: 14px;cursor:pointer;}
.centerofpage::-webkit-scrollbar 
{display: none;}
.centerofpage::-moz-scrollbar 
{display: none;}
.centerofpage::-ms-scrollbar 
{display: none;}
.centerofpage::scrollbar 
{display: none;}
-moz-appearance:scrollbar
{display:none;}
.smallvideoframe p 
{margin-top:1px;margin-bottom:2px;}
.fb-like {
  display: inline-block !important;
  vertical-align: middle !important;
  margin-right: 1.5em;
  line-height: 30px;
  width: 81px !important;
  height: 22px !important;
  position: relative;
  z-index: 1002;
}
.fb-like > span {
  vertical-align: top !important;
  min-width: 81px !important;
  min-height: 22px !important;
}
.fb-like > span > iframe {
  min-width: 81px !important;
  min-height: 22px !important;
}
.fancybox-skin {
    background: transparent;
    box-shadow: none !important;
  }

  .fancybox-close
  {
    background-image: url('fancybox_sprite.png')!important;
    top: 30px;
    right: 71px;
  }
