html, body 
{margin:0px;font-family: 'TradeGothic';background-color:black;}
img {text-decoration: none; border: 0px}
.container
{position:relative;width:960px;margin:auto;}
.footer
{height:150px; background-color:Black;position:relative}
.footercontainer
{width: 960px;;margin: auto;padding-top: 19px;text-align: center;}
.content
{width:50%;  height:650px; text-align: center}
.fltleft
{float:left;}
.fltright
{float:right;}
.videoframe
{width:307px; height:307px; text-align:center;}
.videoframe img
{padding-top:19px}
.videoframe iframe
{margin-top: 19px;border: 0px;}
.videoframe video
{margin-top: 19px;border: 0px;}
.videoframe_big
{width:390px; height:390px; text-align:center;}
.videoframe_big img
{padding-top:20px}
.videoframe_big iframe
{margin-top: 20px;border: 0px;}
.videoframe_big video
{margin-top: 20px;border: 0px;}
.bgcolororange
{background-color:#f2944f;}
.bgcolorgreen
{background-color:#4ff28c;}
.bgcolorpink
{background-color:#db438f;}
.bgcolorblue
{background-color:#12ceda;}
.bgcoloryellow
{background-color:yellow;}
.bgcolordarkblue
{background-color:#3072c4;}
.shadowblue
{box-shadow: 10px 10px 0px #0faab4;}
.shadowpink
{box-shadow: 10px 10px 0px #b53776;}
.shadow
{box-shadow: 10px 10px 0px rgba(128, 128, 128, 0.41)}
.shadowsmall
{box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.41)}
#or
{margin-top: -311px; float:right; margin-left:30px;}
.centerofpage
{position:absolute; margin-left: auto;margin-right: auto;left: 0;right: 0;}
.youpassbtn
{width: 216px;height: 62px;margin-top: 37px;margin-left: 52px;cursor:url('bigcursor.gif') 60 0, auto;}
video {cursor:url('bigcursor.gif') 60 0, auto;}
.shopbtn
{float:left;width:215px;cursor:pointer;}
.facebookbtn
{float:left;width:215px;cursor:pointer;margin-left: 117px;margin-top: 4px;}
.smallvideoframe
{width:188px; height:241px; text-align:center;float:left;margin-bottom:15px}
.smallvideoframe img
{padding-top:4px}
.videoholder
{margin-left:15px;padding-left:10px}
.socialmedia
{float:right;height:38px;margin-top:10px;}
.sliderholder
{background-image: url('groove_v2.png'); background-repeat: no-repeat;width:209px;height:47px;float:left;}
.slidepick
{margin-top:-6px;}
.sliderholderright
{background-image: url('groove_right_v2.png'); background-repeat: no-repeat;width:209px;height:47px;float:right;margin-top:4px;}
#fbpopup .fancybox-skin 
{background-color: White!important;border-radius:0px!important;}
#howtowin .fancybox-skin 
{background-color: White!important;border-radius:0px!important;}
.videopopup .fancybox-skin 
{background-color: #4ff28c!important;border-radius:0px!important;}
.searchbox
{float: left;margin-left: 309px;margin-top: 40px;}
.searchbox input[type="text"]
{background-image: url('searchbox_v2.png');background-repeat: no-repeat;background-color: transparent;border: none;height: 30px;width: 146px;padding-left: 14px;float: left;outline: none;}
.gobutton
{background-image: url('go.png'); background-repeat: no-repeat;width:46px;height:36px;float: left;margin-left: 2px;cursor:pointer;}
.centerofpage::-webkit-scrollbar 
{display: none;}
.centerofpage::-moz-scrollbar 
{display: none;}
.centerofpage::-ms-scrollbar 
{display: none;}
.centerofpage::scrollbar 
{display: none;}
-moz-appearance:scrollbar
{display:none;}
.smallvideoframe p 
{margin-top:1px;margin-bottom:2px;}
@font-face{font-family: 'TradeGothic';src: url('TradeGothic.otf') format('opentype');font-weight: normal;font-style: normal;}
.scrollable
{overflow: hidden; overflow-x: hidden; overflow-y: hidden;}
.fb-like 
{float:left;margin-left: 8px;margin-top: 3px;}
.twitter-share-button 
{float:left;margin-left: 5px;margin-top: 3px;}
.fancybox-skin 
{background: transparent;box-shadow: none !important;}
.fancybox-close
{background-image: url('fancybox_sprite.png')!important;top: 30px;right: 129px;}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr 
{display: none !important;}
img.facebook 
{width: 29px;height: 29px;background: url('socialmedia.png') 0 0;}
img.instagram 
{width: 29px;height: 29px;background: url('socialmedia.png') 30px 0;margin-left:10px;}
img.twitter
{width: 29px;height: 29px;background: url('socialmedia.png') 68px 0;margin-left:10px;}
.popupheader
{font-family:'jam_fontregular';color:#f2944f;font-size:24px;color:#f2944f;text-align:center;}
.push
{height: 155px;}
#background
{position: fixed;top: 0px;left: 0px;width: 50%;height: 650px;}
#right_button_div
{background-image:url('sweet_up_v2.png');background-repeat: no-repeat;}
#right_button_div:active 
{background-image:url('sweet_down_v2.png');background-repeat: no-repeat;}
#left_button_div
{background-image:url('sweet_up_v2.png');background-repeat: no-repeat;}
#left_button_div:active 
{background-image:url('sweet_down_v2.png');background-repeat: no-repeat;}
#fb_close_button 
{background-image: url('close_btn_black.png');position: absolute;width: 30px;height: 31px;margin-top: -326px;margin-left: 478px;cursor: pointer;}
@font-face{font-family: 'jam_fontregular';src: url('jamfont-webfont.eot');src: url('jamfont-webfont.eot?#iefix') format('embedded-opentype'),url('jamfont-webfont.woff') format('woff'),url('jamfont-webfont.ttf') format('truetype'),url('jamfont-webfont.svg#jam_fontregular') format('svg');font-weight: normal;font-style: normal;}
#triangle{width: 0;height: 0;border-style: solid;border-width: 0 0 650px 40px;float:right;}